# Auto detect text files and perform LF normalization
*               text=auto

*.1             text
*.ac            text
*.bat           text eol=crlf
*.bmp           binary
*.c             text
*.cat           text
*.cls           text
*.cpp           text
*.csh           text eol=lf
*.doc           binary
*.def           text
*.dsp           text
*.dsw           text
*.fnc           text
*.frm           text
*.gif           binary
*.gz            binary
*.h             text
*.hpp           text
*.html          text
*.ico           binary
*.in            text eol=lf
*.inc           text
*.inp           text
*.jap           text
*.jpg           binary
*.m4            text
*.mak           text
*.md            text
*.mwp           binary
*.nsi           text
*.nsh           text
*.odt           binary
*.orx           text
*.png           binary
*.rc            text
*.res           binary
*.rex           text
*.sh            text eol=lf
*.sgml          text
*.spec          text
*.src           text
*.tar           binary
*.testGroup     text
*.testUnit      text
*.tgz           binary
*.tpl           text
*.txt           text
*.ver           text
*.version       text
*.wav           binary
*.xml           text
*.xsl           text
*.zip           binary
